
.join__section__wrapper{width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}

.join__title{width: 100%; height: 200px; background-image: url("/img/background.png"); display: flex; align-items: center; justify-content: center;}
.join__title span{font-size: 35px; font-weight: bold;}

.join__content{width: 1245px; display: flex; flex-direction: column; align-items: center;}

.join__item{width: 500px; height: 70px; display: flex; flex-direction: column; margin-top: 20px;}
.join__item span{font-size: 12px; font-weight: 600;}
.join__item input{width: 100%; height: 35px; border: none; border-bottom: 1px solid rgb(197, 196, 196); &:focus{outline: none; border-bottom: 2px solid black;}}

.join__item__addr{width: 500px; height: 250px; display: flex; flex-direction: column; margin-bottom: 15px;}
.join__item__addr span{font-size: 12px; font-weight: 600;}
.item__addr__one{ margin-top: 15px; display: flex; align-items: center;}
.item__addr__one input{margin-right: 10px; height: 30px; padding-left: 10px;}
.item__addr__detail{margin-top: 15px; display: flex; flex-direction: column;}
.item__addr__detail input{margin: 10px 0px; height: 30px; padding-left: 10px;}

.join__item__level{padding-top: 15px; display: flex; flex-direction: column; width: 500px; border-bottom: 1px solid rgb(197, 196, 196); padding-bottom: 15px;}
.join__item__level span{font-size: 12px; font-weight: 600;}
.join__level__select{display: flex; align-items: center; margin-top: 15px;}
.join__level__select span{font-size: 14px; font-weight: 600; margin-right: 15px;}

.join__item__gender{padding-top: 15px; width: 500px; display: flex; flex-direction: column; border-top: 1px solid rgb(197, 196, 196);  padding-bottom: 15px; border-bottom: 1px solid rgb(197, 196, 196); }
.join__item__gender span{font-size: 12px; font-weight: 600;}
.join__gender__select{display: flex; align-items: center; margin-top: 10px;}
.gender{display: flex; align-items: center; justify-content: center;}
.gender span{font-size: 15px; font-weight: bold;}
.gender input{margin-right: 15px;}

.join__item__role{width: 500px; display: flex; flex-direction: column; margin-top: 20px;}
.join__item__role span{font-size: 12px; font-weight: 600;}
#user__role{width: 350px; height: 30px; margin-top: 15px;}

.join__item__check{display: flex; flex-direction: column; width: 500px; margin-top: 20px; padding-bottom: 15px; border-bottom: 1px solid rgb(197, 196, 196);}
.join__item__check span{font-size: 12px; font-weight: 600;}
.check__approve{display: flex; margin-top: 15px; }
.check__approve span{font-size: 15px; font-weight: normal;}

.sns__approve{margin-left: 20px;}
.sns__approve span{font-weight: bold;}
.email__approve{margin-left: 10px;}
.email__approve span{font-weight: bold;}

.join__item__button{width: 500px; display: flex; align-items: center; justify-content: center; margin: 30px 0px;}
.join__item__button button{width: 500px; height: 45px; font-size: 16px; font-weight: 600; border: 1px solid rgb(197, 196, 196);}
.join__item__button button:hover{background-color: rgb(224, 223, 223);}